.cards {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cards__list {
  margin: 0;
  padding: 80px 70px 46px;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 364px);
  flex-wrap: nowrap;
  gap: 36px 24px;
  justify-content: center;
}

.cards__button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 14px 0 0 0;
  min-height: 115px;
}

.cards__button {
  box-sizing: border-box;
  width: calc(100% - 140px);
  height: 36px;
  background-color: #2f2f2f;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cards__button:hover {
  border: 1px solid #3ddc84;
  cursor: pointer;
}

@media screen and (max-width: 1180px) {
  .cards__list {
    grid-template-columns: repeat(3, 270px);
  }
}

@media screen and (max-width: 1023px) {
  .cards__list {
    padding: 80px 30px 30px;
    grid-template-columns: repeat(2, 339px);
    gap: 36px 30px;
  }
}

@media screen and (max-width: 780px) {
  .cards__button-container {
    padding: 58px 0 0 0;
  }

  .cards__button {
    width: calc(100% - 60px);
  }
}

@media screen and (max-width: 750px) {
  .cards__list {
    grid-template-columns: repeat(1, 339px);
  }
}

@media screen and (max-width: 576px) {
  .cards__list {
    padding: 52px 10px 30px;
    grid-template-columns: repeat(1, 300px);
    gap: 16px;
  }

  .cards__button {
    width: 300px;
  }

  .cards__button-container {
    padding: 50px 0 0 0;
  }
}
