.card {
  background: #222222;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.08);
  border-radius: 6px;
  max-width: 364px;
  height: 281px;
}

.card__image {
  object-fit: cover;
  background-size: cover;
  width: 100%;
  height: 212px;
  border: none;
  border-radius: 6px 6px 0 0;
}

.card__container {
  display: flex;
  justify-content: space-between;
  padding: 17px 20px;
}

.card__time {
  display: flex;
  margin-top: 14px;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  color: #8B8B8B;
  align-items: center;
}

.card__title {
  max-width: 250px;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
}

.card__delete-button {
  background-image: url("../../images/delete-button.svg");
  width: 16px;
  height: 16px;
  border: none;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  cursor: pointer;
}

.card__like-button {
  background-image: url("../../images/like.svg");
  width: 14px;
  height: 12px;
  border: none;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  cursor: pointer;
}

.card__like-button_active {
  background-image: url("../../images/like-active.svg");
}

.card__delete-button:hover {
  opacity: .6;
}

@media screen and (max-width: 1023px) {
  .card__image {
    height: 190px;
  }

  .card {
    height: 260px;
  }
}

@media screen and (max-width: 576px) {
  .card__image {
    height: 168px;
  }

  .card__container {
    padding: 10px 15px;
  }

  .card {
    height: 237px;
  }
}
