.profile {
  padding: 74px 0 70px 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  max-width: 410px;
  box-sizing: border-box;
}

.profile__title {
  margin: 0 0 123px;
  padding: 0;
  text-align: center;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
}

.profile__form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.profile__field {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0;
  padding: 0;
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  min-height: 30px;
  cursor: text;
  position: relative;
}

.profile__input {
  margin: 0;
  padding: 0;
  width: 350px;
  text-align: right;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  border: none;
  outline: none;
  background-color: transparent;
  color: #fff;
}

.profile__input-error {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 11px;
  line-height: 12px;
  color: #ff4062;
  position: absolute;
  top: 16px;
  right: 0;
  text-align: right;
}

.profile__input:focus {
  border: 1px solid #4285f4;
  border-radius: 5px;
  background-color: rgba(66, 133, 244, 0.2);
}

.profile__border {
  border-bottom: 1px solid #424242;
  margin-bottom: 17px;
}

.profile__edit {
  margin-top: 204px;
  min-height: 16px;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #fff;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.profile__edit:hover {
  opacity: 0.8;
}

.profile__save {
  margin-top: 204px;
  min-height: 45px;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #fff;
  border: none;
  background-color: #4285F4;
  cursor: pointer;
}

.profile__save:hover {
  opacity: 0.8;
}

.profile__logout {
  margin-top: 16px;
  min-height: 16px;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  color: #ff4062;
  border: none;
  background-color: transparent;
  cursor: pointer;
  text-decoration: none;
}

.profile__logout:hover {
  opacity: 0.8;
}

@media screen and (max-width: 1023px) {
  .profile {
    padding-top: 236px;
    padding-bottom: 269px;
  }

  .profile__title {
    margin-bottom: 96px;
  }

  .profile__save {
    margin-top: 193px;
  }
}

@media screen and (max-width: 576px) {
  .profile {
    padding: 70px 30px 40px 30px;
  }

  .profile__title {
    margin-bottom: 80px;
  }

  .profile__input {
    width: 150px;
  }

  .profile__button-save {
    margin-top: 362px;
    font-size: 12px;
    line-height: 15px;
  }

  .profile__logout {
    font-size: 12px;
    line-height: 15px;
  }

  .profile__save {
    margin-top: 361px;
  }
}
