.search {
  margin: 70px 70px 43px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.search::before {
  content: " ";
  background: rgba(170, 170, 170, 0.2);
  width: 100%;
  height: 1px;
  /* располагаем линию сверху от текста */
  bottom: -43px;
  /* включаем абсолютное позиционирование относительно блока с relative */
  position: absolute;
}

/*.search__border-bottom {
  margin-top: 43px;
  border-bottom: 1px solid rgba(170, 170, 170, 0.2);
}*/

.search__form {
  display: flex;
  padding: 10px 10px;
  margin-bottom: 24px;
  border: 1px solid rgba(170, 170, 170, 0.2);
  border-radius: 8px;
  align-items: center;
  justify-content: space-between;
}

.search__input {
  min-height: 100%;
  border: none;
  width: calc(100% - 110px);
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  padding: 15px 15px 15px 15px;
  background: #202020;
  color: #fff;
  outline: none;
}

.search__input:focus {
  border: #4285f4 solid 1px;
  background-color: rgba(66, 133, 244, 0.2);
  border-radius: 8px 0 0 8px;
}

input::-webkit-input-placeholder {
  color: #8b8b8b;
}

.search__button {
  background: #4285f4;
  border-radius: 5px;
  width: 100px;
  height: 52px;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #fff;
  border: none;
  cursor: pointer;
}

.search__button:hover {
  opacity: 0.8;
}

@media screen and (max-width: 1023px) {
  .search {
    margin: 70px 30px 51px;
  }

  .search::before {
    bottom: -51px;
  }
}

@media screen and (max-width: 576px) {
  .search {
    margin: 70px 14px 60px;
  }

  .search::before {
    bottom: -60px;
  }

  .search__button {
    margin: 0px 6px 0 0;
    padding: 0;
  }

  .search__label {
    display: none;
  }

  .search__input {
    width: calc(100% - 80px);
    text-align: left;
    font-size: 16px;
    line-height: 22px;
    padding: 15px 0px 16px 9px;
  }

  .search__form {
    padding: 0;
    margin-bottom: 32px;
  }

  .search__button {
    width: 85px;
    height: 40px;
  }
}
