.search {
  margin: 70px 70px 0px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.search__border-bottom {
  margin-top: 64px;
  border-bottom: 1px solid rgba(170, 170, 170, 0.2);
}

.search__form {
  display: flex;
  padding: 10px 10px;
  margin-bottom: 29px;
  border: 1px solid rgba(170, 170, 170, 0.2);
  border-radius: 8px;
  align-items: center;
  justify-content: space-between;
}

.search__input {
  min-height: 100%;
  border: none;
  width: calc(100% - 110px);
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  padding: 15px 15px 15px 15px;
  background: #202020;
  color: #fff;
}

.search__input:focus {
  border-bottom: #4285f4 solid 1px;
}

input::-webkit-input-placeholder {
  color: #8b8b8b;
}

.search__button {
  background: #4285f4;
  border-radius: 5px;
  width: 100px;
  height: 52px;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #fff;
  border: none;
  cursor: pointer;
}

.search__button:hover {
  opacity: 0.8;
}

@media screen and (max-width: 1023px) {
  .search {
    margin: 70px 30px 0;
  }
}

@media screen and (max-width: 576px) {
  .search {
    margin: 70px 14px 0;
  }

  .search__form {
    margin-bottom: 42px;
  }

  .search__label {
    display: none;
  }

  .search__input {
    width: calc(100% - 80px);
    text-align: left;
    font-size: 18px;
    line-height: 22px;
  }

  .search__form {
    display: flex;
    padding: 6px;
    margin-bottom: 29px;
    border: 1.5px solid rgba(170, 170, 170, 0.2);
    border-radius: 8px;
    align-items: center;
    justify-content: space-between;
  }

  .search__button {
    background: #4285f4;
    border-radius: 5px;
    width: 80px;
    height: 44px;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    color: #fff;
    border: none;
    cursor: pointer;
  }
}
